---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/main.css %}

body {
	text-align: center;
}

hr {
	border-color: white;
}
nav {
	padding-top: 10px;
}
nav .p-why {
	border-color: #00AEEF;
}
nav .p-how {
	border-color: #8FC73E;
}
nav .p-portal {
	border-color: #636363;
}
nav .p-tools {
	border-color: #ff0707;
}
nav .p-extend {
	border-color: #939393;
}
